@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 16px;
  }
  
  #hero {
    background-color: #fff;
    padding: 20px;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .hero-text h2 {
    font-size: 24px;
  }
  
  .hero-text p {
    font-size: 18px;
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  